<?xml version="1.0" encoding="utf-8"?>
<sqltoy xmlns="http://www.sagframe.com/schema/sqltoy"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sagframe.com/schema/sqltoy http://www.sagframe.com/schema/sqltoy/sqltoy.xsd">

    <sql id="schedule_scheduleJob_findByEntityParam">
        <value>
            <![CDATA[

			]]>
        </value>
    </sql>

    <sql id="schedule_scheduleJob_findByPageParam">
        <value>
            <![CDATA[

			]]>
        </value>
    </sql>

</sqltoy>