a {
    color: #000011;
    text-decoration: none;
}

.article-list:hover {
    background-color: rgba(240, 248, 255, 0.42);
}

div, ul, li, body, html {
    padding: 0;
    margin: 0;
}

.global-dist {
    margin: 0 auto;
    width: 85%;
}

.nav-inner-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nav {
    background-color: cornflowerblue;
    width: 100%;
    height: 46px;
}

.nav a {
    text-decoration: none;
    color: cornflowerblue;
    font-size: 16px;
    font-weight: 500;
    background: white;
    padding: 1px 3px;
    border-radius: 3px;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

.main {
    display: flex;
}

.main-left-card {
    color: rgba(100, 149, 237, 1);
    font-size: 14px;
    padding-left: 3px;
}