.login {
    background-image: url("http://resource.live1024.cn/default/sra-bg.jpeg");
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
